$color-primary: #2980b9;
$color-secondary: #1c587f;
$color-cancel: #c0392b;
$color-dark: #333;
$color-white: #fff;

.ui.menu.bluemarket-header {
	background: $color-dark;
	border: none;
	margin: 0;
	padding: 0 5px;

	.item.item {
		color: $color-white;
		height: 100%;

		i {
			margin: 0 auto;
		}

		&.active {
			color: $color-white;
			border-color: $color-primary;
		}
		&:hover:hover {
			color: $color-primary;
		}
	}
}

.ui.popup.vertical {
	background: $color-dark;

	&::before {
		background: $color-dark;
	}

	.user-dropdown-menu.item {
		color: $color-white;
		background: $color-dark;

		&.active {
			color: $color-white;
			border-color: $color-primary;
		}

		&:hover:hover {
			color: $color-primary;
		}
	}
}

.ui.mini.circular.image.user-avatar {
	width: 25px;
}

.ui.small.circular.user-avatar-in-card {
	display: block;
}

.ui.button {
	color: $color-white;
	&.primary {
		background-color: $color-primary;
	}
	&.cancel {
		color: $color-white;
		background-color: $color-cancel;
		&:hover {
			color: $color-white;
		}
	}
}

/* Home */
.home-hero-section {
	width: 100%;
	height: 65vh;
	position: relative;
	color: white;

	.hero-container {
		background-size: cover;
		background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/unsplash-stock01-min.jpg');
		background-position: right bottom;
		width: 100%;
		height: inherit;
		display: flex;
		display: -webkit-flex;

		.hero-text-container {
			display: inline;
			width: 100%;

			.bm-hero-text.header {
				position: relative;
				margin: 10vh auto;
				word-wrap: break-word;
				width: fit-content;
				width: -webkit-fit-content;
				text-align: center;
				font-size: 7em;
				margin: 1vh auto;
				font-weight: normal;
			}

			.bm-hero-text.subheader {
				position: relative;
				margin: 10vh auto;
				word-wrap: break-word;
				width: fit-content;
				width: -webkit-fit-content;
				text-align: center;
				font-size: 2em;
				margin: 1vh auto;
				font-weight: initial;
			}
		}
	}
}

.home-details-section {
	width: 100%;
	position: relative;
	z-index: 6;

	.home-details-container {
		height: inherit;
		width: 100%;
		position: relative;

		.home-details {
			display: block;
			background: $color-primary;
			padding-bottom: 20vh;
			margin-bottom: 100px;
			background: linear-gradient(90deg, #2980b9 0%, #174869 100%);

			&::before {
				content: '';
				height: 21vh;
				margin-top: -20vh;
				position: absolute;
				background: $color-primary;
				display: block;
				width: 100%;
				-webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
				clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
				background: linear-gradient(90deg, #2980b9 0%, #174869 100%);
			}
		}
	}

	.detail-icon {
		display: table;
		width: 150px;
		font-size: 50px;
		position: relative;
		margin: 10% auto;
		height: 150px;
		background-color: white;
		border-radius: 100%;

		&:hover {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}

		i {
			background: -webkit-linear-gradient(#2980b9, #174869);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin: 0 auto;
			width: 100%;
			display: table-cell;
			vertical-align: middle;

			&:hover {
				-webkit-transform: scale(1.2);
				transform: scale(1.2);
			}
		}
	}

	.home-details-text {
		color: white;
		text-align: center;
		font-weight: initial;
		margin-bottom: 10%;
	}
}

.home-contact-section {
	position: relative;
	width: 100%;

	.contact-us-container {
		padding: 0 6.25% 10%;

		.home-contact-text {
			text-align: right;

			&.header {
				font-size: 6em;
				text-transform: uppercase;
			}
		}
	}

}

.padded.content {
	padding: 5% 10%;
}

.hidden {
	display: none;
}

.sign-in-info {
	margin-bottom: 5vh;
}

.team-info {
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.image-container {
		width: 18%;
		margin-right: 2%;
	}

	.team-people {
		width: 80%;
		vertical-align: top;
		.team-members {
			.ui.avatar.image {
				margin: 5px 10px;
				margin-left: 0;
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.ui.modal {
		text-align: center;
		font-size: 1.2em;

		.header {
			// Override of semantic-ui padding. Set as !important in framework.
			padding-right: .75rem !important; // sass-lint:disable-line no-important
		}

		.content i.icon {
			margin: 1vh;
		}
	}

	.ui.striped.table .bluemarket-thead {
		display: none;
	}

	.team-info {
		.image-container {
			width: 100%;
		}

		.team-people {
			margin-top: 30px;
			float: left;
			width: 100%;
		}
	}

	.ui.form .fields {
		margin-bottom: 14px;
	}
}

.progress {
	position: relative;
	list-style: none;
	margin-bottom: 0%;
}

.progress-item {
	position: relative;
	counter-increment: list;

	&::before {
		content: "";
		position: absolute;
		left: -1.5rem;
		width: 1px;
		border-left: 1px solid $color-primary;
		height: 100%;
	}

	&::after {
		content: counter(list);
		position: absolute;
		top: 0;
		left: -2.5rem;
		width: 30px;
		height: 30px;
		border-radius: 100%;
		background: transparent;
		color: $color-dark;
		line-height: 2rem;
		text-align: center;
		justify-content: center;
		border: 2px solid $color-primary;
	}

	.progress-title {
		margin: 0 2.5vw;
	}

	.progress-info {
		margin: 1vh 2.5vw 0;
		padding-bottom: 5vh;
	}

	&:last-child {
		&::before {
			border: none;
		}

		.progress-info {
			padding-bottom: 0;
		}
	}

	&.progress-item {
		&::after {
			background: $color-primary;
			color: $color-white;
		}
	}
}

.container {
	.ui.container.bluemarket.centered-container {
		width: 40%;
		margin: 0 auto;
		margin-top: 10vh;
	}
}

.ui.stackable.grid {
	margin: 0 auto;
	margin-top: 10px;

	.project-card, .student-card {
		display: flex;

		.extra.content {
			&.milestone {
				color: $color-white;
				background: $color-primary;
				text-transform: uppercase;
				text-align: center;
			}

			.ui.bluemarket-skill.label {
				background-color: $color-primary;
				color: $color-white;
				margin-top: 1vh;
				margin-bottom: 1vh;
			}
		}
	}

	.ui.card.eq-card {
		flex: 1; /* shrink and grow according to available height */
		flex-basis: 0;
	}
}

.ui.modal {
	text-align: center;
	font-size: 1.2em;

	.content i.icon {
		margin: 1vh;
	}
}

.coursekey {
	text-align: right;
	font-size: 14px;
	code {
		display: inline-block;
		margin-top: 5px;
		font-size: 3rem;
		background-color: #eee;
		padding: 20px;
		border-radius: 5px;
	}
}

.add-course {
	margin-bottom: 10px;
}

.upload-image-button {
	margin-top: 2em;
	margin-bottom: 2em;
}

.image-container {
	display: inline-block;
	align-content: center;
	.preview-container {
		margin-bottom: 1vh;

		.ui.small.image.preview {
			width: 10vmax;
			height: 10vmax;
			object-fit: cover;
			object-position: center center;
			border-radius: 15px;
		}
	}

	button {
		width: 100%;
	}
}

.ui.image.squared-image {
	height: auto;
	object-fit: cover;
	object-position: center center;

	&.medium {
		width: 150px;
		border-radius: 20px;
	}

	&.small {
		width: 100px;
		border-radius: 15px;
	}

	&.tiny {
		width: 30px;
		border-radius: 5px;
	}
}

.ui.label.pill {
	background-color: $color-primary;
	color: $color-white;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.detail-container {
	margin-top: 25px;
}

.user-avatar {
	margin: 0 auto;
}

.two-column-divider {
	margin: 0 auto;
}

.team-member-avatar-container {
	margin: 5px;
	display: inline-grid;
}

.team-img {
	border-radius: 5px;
}

.ui.modal.new-task-modal {
	text-align: left;

	.ui.calendar:focus-within .ui.popup.calendar {
		display: block;
		position: absolute;
		top: 110%;
		left: 1%;

		&::before {
			display: none;
		}
	}

	.calendar.icon {
		margin: 0;
	}
}

.header.student-card-name {
	text-align: center;
	margin-top: 10px;
}

.invite-sent-datetime {
	display: inline;
}

.ui.progress .label {
	font-weight: 300;
	margin-top: 20px;
}

.list.milestone-section > .item {
	margin-top: 10px;
}

.ui.modal.milestones {
	text-align: left;
	.calendar.icon {
		margin: 0;
	}
}

.column.wide.notifications-list:not(.active) {
	display: none;
}

.ui.table .notification-column {
	padding: 0 1rem;
	vertical-align: middle;
}

.task-url {
	color: $color-dark;
}
