$color-primary: #2980b9;
$color-secondary: #1c587f;
$color-cancel: #c0392b;
$color-dark: #333;
$color-white: #fff;

.ui.menu.bluemarket-header {
	background: $color-dark;
	border: none;
	margin: 0;
	padding: 0 5px;

	.item.item {
		color: $color-white;
		height: 100%;
		&.active {
			color: $color-white;
			border-color: $color-primary;
		}
		&:hover:hover {
			color: $color-primary;
		}
	}
}

.ui.popup.vertical {
	background: $color-dark;

	&::before {
		background: $color-dark;
	}

	.user-dropdown-menu.item {
		color: $color-white;
		background: $color-dark;
		&.active {
			color: $color-white;
			border-color: $color-primary;
		}
		&:hover:hover {
			color: $color-primary;
		}
	}
}

.ui.mini.circular.image.user-avatar {
	width: 25px;
}

.ui.small.circular.user-avatar-in-card {
	display: block;
}

.ui.button {
	color: $color-white;
	&.primary {
		background-color: $color-primary;
	}
	&.cancel {
		color: $color-white;
		background-color: $color-cancel;
		&:hover {
			color: $color-white;
		}
	}
}

.home-hero-section {
	width: 100%;
	height: 80vmin;
	position: relative;
	color: white;

	.hero-container {
		position: absolute;
		background-color: #1c587f;
		width: 100%;
		height: inherit;
		overflow: hidden;

		.hero-img {
			-webkit-transform: scaleX(-1); // mirror image
			transform: scaleX(-1);
			-webkit-clip-path: polygon(50% 0, 0 0, 0 100%, 50% 30%);
			clip-path: polygon(50% 0, 0 0, 0 100%, 50% 30%);
			background-color: $color-dark;
			width: 100%;
			height: inherit;
			position: absolute;
			z-index: 10;
			object-fit: cover;
			top: 0;
			right: 0;
		}

		.hero-text-container {
			width: 45%;
			height: auto;
			overflow: hidden;
			position: absolute;
			top: 0;
			z-index: 4;
			margin-left: 5%;
			margin-top: 5vmin;

			.bm-hero-text {
				font-size: 10vmin;
				position: relative;
			}
		}
	}
}

.home-details-section {
	width: 100%;
	position: relative;
	z-index: 6;

	.home-details-container {
		height: inherit;
		width: 100%;
		position: relative;

		&::before {
			content: '';
			height: 30vmin;
			background-color: #2980b9;
			display: block;
			width: 100%;
			-webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
			clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
			margin-top: -30vmin;
		}

		.home-details {
			display: block;
			background-color: #2980b9;
			padding-bottom: 15vmin;
			margin-bottom: 15vmin;
		}

		// &::after {
		// 	content: '';
		// 	height: 200px;
		// 	background-color: #2980b9;
		// 	display: block;
		// 	width: 100%;
		// 	z-index: 8;
		// 	margin-bottom: 75px;
		// 	-webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
		// 	clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
		// }
	}

}

.padded.content {
	padding: 5% 10%;
}

.hidden {
	display: none;
}

.sign-in-info {
	margin-bottom: 5vh;
}

.team-info {
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.image-container {
		width: 18%;
		margin-right: 2%;
	}

	.team-people {
		width: 80%;
		vertical-align: top;
		.team-members {
			.ui.avatar.image {
				margin: 5px 10px;
				margin-left: 0;
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.ui.modal {
		text-align: center;
		font-size: 1.2em;

		.header {
			// Override of semantic-ui padding. Set as !important in framework.
			padding-right: .75rem !important; // sass-lint:disable-line no-important
		}

		.content i.icon {
			margin: 1vh;
		}
	}

	.ui.striped.table .bluemarket-thead {
		display: none;
	}

	.team-info {
		.image-container {
			width: 100%;
		}

		.team-people {
			margin-top: 30px;
			float: left;
			width: 100%;
		}
	}

	.ui.form .fields {
		margin-bottom: 14px;
	}
}

.progress {
	position: relative;
	list-style: none;
	margin-bottom: 0%;
}

.progress-item {
	position: relative;
	counter-increment: list;

	&::before {
		content: "";
		position: absolute;
		left: -1.5rem;
		width: 1px;
		border-left: 1px solid $color-primary;
		height: 100%;
	}

	&::after {
		content: counter(list);
		position: absolute;
		top: 0;
		left: -2.5rem;
		width: 30px;
		height: 30px;
		border-radius: 100%;
		background: transparent;
		color: $color-dark;
		line-height: 2rem;
		text-align: center;
		justify-content: center;
		border: 2px solid $color-primary;
	}

	.progress-title {
		margin: 0 2.5vw;
	}

	.progress-info {
		margin: 1vh 2.5vw 0;
		padding-bottom: 5vh;
	}

	&:last-child {
		&::before {
			border: none;
		}

		.progress-info {
			padding-bottom: 0;
		}
	}

	&.progress-item {
		&::after {
			background: $color-primary;
			color: $color-white;
		}
	}
}

.container {
	.ui.container.bluemarket.centered-container {
		width: 40%;
		margin: 0 auto;
		margin-top: 10vh;
	}
}

.ui.stackable.grid {
	margin: 0 auto;
	margin-top: 10px;

	.project-card, .student-card {
		display: flex;

		.extra.content {
			&.milestone {
				color: $color-white;
				background: $color-primary;
				text-transform: uppercase;
				text-align: center;
			}

			.ui.bluemarket-skill.label {
				background-color: $color-primary;
				color: $color-white;
				margin-top: 1vh;
				margin-bottom: 1vh;
			}
		}
	}

	.ui.card.eq-card {
		flex: 1; /* shrink and grow according to available height */
		flex-basis: 0;
	}
}

.ui.modal {
	text-align: center;
	font-size: 1.2em;

	.content i.icon {
		margin: 1vh;
	}
}

.coursekey {
	text-align: right;
	font-size: 14px;
	code {
		display: inline-block;
		margin-top: 5px;
		font-size: 3rem;
		background-color: #eee;
		padding: 20px;
		border-radius: 5px;
	}
}

.add-course {
	margin-bottom: 10px;
}

.upload-image-button {
	margin-top: 2em;
	margin-bottom: 2em;
}

.image-container {
	display: inline-block;
	align-content: center;
	.preview-container {
		margin-bottom: 1vh;

		.ui.small.image.preview {
			width: 10vmax;
			height: 10vmax;
			object-fit: cover;
			object-position: center center;
			border-radius: 15px;
		}
	}

	button {
		width: 100%;
	}
}

.ui.image.squared-image {
	height: auto;
	object-fit: cover;
	object-position: center center;

	&.medium {
		width: 150px;
		border-radius: 20px;
	}

	&.small {
		width: 100px;
		border-radius: 15px;
	}

	&.tiny {
		width: 30px;
		border-radius: 5px;
	}
}

.ui.label.pill {
	background-color: $color-primary;
	color: $color-white;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.detail-container {
	margin-top: 25px;
}

.user-avatar {
	margin: 0 auto;
}

.two-column-divider {
	margin: 0 auto;
}

.team-member-avatar-container {
	margin: 5px;
	display: inline-grid;
}

.team-img {
	border-radius: 5px;
}

.ui.modal.new-task-modal {
	text-align: left;

	.ui.calendar:focus-within .ui.popup.calendar {
		display: block;
		position: absolute;
		top: 110%;
		left: 1%;

		&::before {
			display: none;
		}
	}

	.calendar.icon {
		margin: 0;
	}
}

.header.student-card-name {
	text-align: center;
	margin-top: 10px;
}

.invite-sent-datetime {
	display: inline;
}

.ui.progress .label {
	font-weight: 300;
	margin-top: 20px;
}

.list.milestone-section > .item {
	margin-top: 10px;
}

.ui.modal.milestones {
	text-align: left;
	.calendar.icon {
		margin: 0;
	}
}

.column.wide.notifications-list:not(.active) {
	display: none;
}

.ui.table .notification-column {
	padding: 0 1rem;
	vertical-align: middle;
}
